BACKEND_URL=http://localhost:8080
TARGET_URL=https://blj.ahut.edu.cn/bhost/
ACCOUNT_INPUT_IMAGE_PATH=assets/account_input.png
DX_CANDIDATE_IMAGE_PATH=assets/dx_candidate.png
CAPTCHA_INPUT_IMAGE_PATH=assets/captcha_input.png
REMOTE_LOGIN_BUTTON_IMAGE_PATH=assets/remote_login_button.png
REMOTE_AVATAR_IMAGE_PATH=assets/remote_user_avatar.png
REMOTE_SYSTEM_MENU_IMAGE_PATH=assets/billing_system_entry.png
REMOTE_BUSINESS_MENU_IMAGE_PATH=assets/business_management_menu.png
REMOTE_EDIT_PROFILE_IMAGE_PATH=assets/edit_profile_menu.png
HEADLESS=false
BROWSER_CHANNEL=chrome
CHROME_CDP_URL=
USE_AUTH_STATE=false
PORTAL_USERNAME=your_username
PORTAL_PASSWORD=your_password
